/* 
Navigation Styling 
Original Theme Code - Some Edited by Zach E.
*/

.subnavholder li, .homenavholder li, .navmobileholder li, .subnavholdermobile li {list-style-type:none;}

.homenavholder{
  width:453px;
  margin: 0 auto 100px auto;
  padding:0;
  }
  
.homenav{
  width:150px;
  height:100px;
  background-color:#FFF;
  background-image:url(../img/bghome_nav.png);
  text-align:center;
  margin-right:1px;
  float:left;
  -webkit-transition-duration: 0.2s, 0.2s;   
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-duration: 0.2s, 0.2s;   
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-duration: 0.2s, 0.2s;   
  -o-transition-timing-function: linear, ease-in;
}
.homenavtxt{
    font-family:'Lato', Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:300;
  color:#0078ff;
  visibility:hidden;
  }

.homenav:hover, .homenav:focus{
  height:105px;
}


.homenav:hover span, .homenav:focus span{
  visibility:visible;
}

.navmobileholder{
  width:100%;
  height:244px;
  position:absolute;  
  margin:350px auto;
  padding:0;
  z-index:10;
  text-align:center;
  display:none; 
}
.navmobileitem{
background-color:#FFF;
height:60px;
width:90%;
margin:1px auto;
padding:5px;
}
.navmobileitem:hover, .navmobileitem:focus{
background-color:#efefef;
}
.navmobileitem.nav-selected {
background-color:#efefef;
}
.homenavtxtmobile{
    font-family:'Lato', Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:300;
  color:#0078ff;
  margin:15px 0px 0px 10px;
  float:left;
}
.homenavholder > a > li:hover > div, .homenavholder > a > li:focus > div {
  margin:10px auto 0 auto;
}
.homenavholder > a > li > div {
  width:50px;
  height:50px;
/*background-image:url(../img/ui_x2.png);*/
  background-image:url(http://www.placehold.it/50x50/f2f2f2/0078ff);
  border: 1px solid #0078ff;
/*background-size:400px 300px;*/
  margin:25px auto 0 auto;
  -webkit-transition-duration: 0.2s, 0.2s;   
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-duration: 0.2s, 0.2s;   
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-duration: 0.2s, 0.2s;   
  -o-transition-timing-function: linear, ease-in;
}

.navmobileholder > a > li > div {
  width:50px;
  height:50px;
  background-image: url(http://www.placehold.it/50x50/f2f2f2/0078ff);
  border: 1px solid #0078ff;
  margin:-1px 0px 0px 10px;
  float:left;
}

/********************* Inside Pages (default.php) *********************/
.subnavbar{
  width:100%; 
  background-color:#FFF; 
  border-bottom:1px #bababa solid; 
  position:fixed; 
  z-index:100;
  }
.subnavholder{
  width:768px;
  height:79px;
  text-align:left;
  margin:0 auto;
  padding: 0;
}
.homeholder {float: left;}
.insidepgholder {float: right;}
/* .subnavitembg{
  height:79px;
  background-color:#FFF;
  margin:0 1px 0 0;
  text-align:center;
  float:left;
} */
.subnavitembg.nav-selected, .subnavitembg {
  height:79px;
  background-color:#FFF;
  margin:0 1px 0 0;
  text-align:center;
  float:left;
}

a .subnavitembg:hover, a .subnavitembg:focus{
  background-color:#ededed;
  -webkit-transition: background-color 0.5s linear;
     -moz-transition: background-color 0.5s  linear;
     -o-transition: background-color 0.5s  linear;
     -ms-transition: background-color 0.5s  linear;
     transition: background-color 0.5s  linear;
}

.subnavholder a > li > div, .insidepgholder > li > div.nav-selected {
	margin:18px 2px 18px 15px; /* universal */
	float:left;
	width:40px;
	height:40px;
}

.subnavtxt, .subnavtxt.nav-selected {
	font-family:'Lato', Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:300;
	float:left;
	margin:32px 0 0 0;
	padding-right: 15px;
}

.subnavholder a > li > div {    
  -webkit-transition:background-position 0.2s ease-in;  
  -moz-transition:background-position 0.2s ease-in;  
  -o-transition:background-position 0.2s ease-in;  
  transition:background-position 0.2s ease-in; 
}

.insidepgholder > li > div.nav-selected {
 /*   background-image:url(../img/ui_x1.png); */
  background-image:url(http://www.placehold.it/40x40/ffffff/bebebe);
  border: 1px solid #bebebe;
/*   background-position:0px -130px; */
}

.subnavtxt{  
  color:#999999;
}

.subnavtxt.nav-selected{
  color:#bebebe;
}


.logosmall{
  width:132px;
  height:40px;
/*   background-image:url(../img/dblogo_sub.png);
  background-size:132px 84px; */
  background-image: url(http://www.placehold.it/132x40/ffffff/999999);
  border:1px solid #999999;
  float:left;
  margin:18px 10px;
  -webkit-transition:background-position 0.2s ease-in;  
  -moz-transition:background-position 0.2s ease-in;  
  -o-transition:background-position 0.2s ease-in;  
  transition:background-position 0.2s ease-in; 
}

.logosmallmobile{
  width:132px;
  height:40px;
/*   background-image:url(../img/dblogo_sub2.png); */
  background-image: url(http://www.placehold.it/132x40/ffffff/999999);
  border:1px solid #999999;
/*   background-size:132px 42px; */
  float:left;
  margin:10px 0px 0px 15px;
  z-index:300;
  position:fixed;
  display:none;
}

.logosmall:hover, .logosmall:focus{
/*   background-position:0px -42px; */
  background-image: url(http://www.placehold.it/132x40/ffffff/0078ff);
  border:1px solid #0078ff;
   animation: fadein 0.4s, bp 0s;
   -moz-animation: fadein 0.4s, bp 0s; /* Firefox */
   -webkit-animation: fadein 0.4s, bp 0s; /* Safari and Chrome */
   -o-animation: fadein 0.4s, bp 0s; 
}

a .subnavitembg:hover .subnavtxt, a .subnavitembg:focus .subnavtxt{
  color:#0078ff;
} 

.insidepgholder > a > li > div {
  /*   background-image:url(../img/ui_x1.png); */
  background-image:url(http://www.placehold.it/40x40/ffffff/999999);
  border: 1px solid #999999;
/*   background-position:0px -50px; */
}

.insidepgholder > a > li:hover > div, .insidepgholder > a > li:focus > div {
  /*   background-position:0px -90px; */
  background-image:url(http://www.placehold.it/40x40/ededed/0078ff);
  border: 1px solid #0078ff;
}

/* --- Mobile dropdown --- */
.subnavholdermobile{
  position:fixed;
  z-index:150;
  display:none;
  width:100%;
    
}

.slidingDiv {
  width:100%;
  margin-top:61px;
  background-color: #0078ff;
  padding:20px 0 0 0;
  padding-bottom: 20px;

}
.dropshadow{
  background-image:url(../img/dropdownshadow.png);
  width:100%;
  height:25px;
  margin:20px 0;
}

a.show_hide:link, a.show_hide:visited {
  float:right;
  margin:0;
  height:60px;
  width:60px;
  background-image:url(../img/mobilenavicon.png);
  background-size:60px 120px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: #ededed;
}

a.show_hide:hover, a.show_hide:active, a.show_hide:focus {
  background-color: #0078ff;
  background-position: 0px -60px; 
}