/* 
Default Styling 
Original Theme Code
*/

/* 320 */
@media (min-width: 200px) and (max-width: 480px){
	.awwwards{
		display:none;
}
.introtxt{
	font-size:17px;
	}

.headlineWhite_l{
	font-size:40px;
	font-weight:300;
	}

.headlineWhite_m{
	font-size:18px;
	font-weight:300;
}

.navmobileitem{
	height:50px;
}

.homeicon_homemobile{
	margin:1px 0px 0px 10px;
}

.homeicon_aboutmobile{
	margin:0px 0px 0px 10px;
}

.homeicon_workmobile{
	margin:0px 0px 0px 10px;
}

.homeicon_emailmobile{
	margin:0px 0px 0px 10px;
}

.homeicon_cvmobile{
	margin:1px 0px 0px 10px;
}

.homenavtxtmobile{
margin:10px 0px 0px 10px;
}

/* --- Home Page ---  */

.homePanelBlue {
	height:290px;
	}
	
.dblogoHome {
	background-image:url(../img/zelogo_home.png);
	background-size:135px 97px;
	width:135px;
	height:97px;
	margin:30px auto 0px auto;
	}
	
.hometxt_holder{
	width:90%;
	margin:10px auto;
	}
.homenavholder{
	display:none;
}
.homeintrotxt{
	font-size:18px;
	font-weight:300;
	}

.navmobileholder{
	display:block;
	margin:270px auto 0px auto;	
	height:204px;
}

/* --- About me ---  */
.aboutPanel {
	height:320px;
}
		
.aboutprofilepic {
	margin:80px auto 0px auto;
	}
.fivethingsheader{
	height:70px;
	margin-top:110px;
	}
	
.fivebgholder{
	display:none;
}

.fivebgholdermobile{
	display:block;
}

.fivespacermobile{
	height:35px;
}

.fivecentermobile{
	width:280px; 
	height:100px;
	}
.fivetxtmobile1{
 font-size:16px;
 height: 95px;
 width:190px;
 margin:10px 0px 0px 10px;
}

.fivetxtmobile2{
 font-size:16px;
 font-weight:300;
 height: 95px;
 width:190px;
 margin:10px 0px 0px 10px;
}

.timelineholder{
	display:none;
}

.toolsholder{
	display:none;
}

/* --- work ---*/
.workholder{
	display:none;
}

.workmobileholder{
	display:block;
}

.worksubtitle{
	margin-top:0px;
}
.worktitle{
	font-size:14px;
}

.portilistmobileholder{
width:300px; 
}

.workimgholder{
	margin-bottom:5px;
}

/* --- mobile projects --- */
.projectpageholder{
	display:none;
}

.mobileprojectpage{
	display:block;
}
	
/* --- Footer --- */
.footerbtnsholderhome{
	margin:260px auto 0px auto;
}
.footertxtholder{
width:80%; 
margin:0px auto 40px auto ; 
}

/* --- 2ndary nav --- */
.subnavbar{
	height:60px; 
	}
	
.subnavholder{
	width:100%;
	height:59px;
}
.logosmall{
	display:none;
}
.logosmallmobile{
	display:block;
}

.subnavitembg{
	display:none;
}
.subnavitembginactive{
	display:none;
}

.logosmall:hover, .logosmall:focus{
	background-position:0px -34px;
}

.subnavholdermobile{
	display:block;	
}



